# ROS 2 workspaces
build/
install/
log/
*_compile_commands.json

# Python Virtual Environments
.venv/
env/
venv/
*.pyc
__pycache__/

# Machine Learning Models (huge files)
*.pt
*yolov8n.pt
*.onnx

# IDE files
.vscode/
.idea/

# ESP32 / Arduino build artifacts
*.elf
*.bin
*.hex
*.part
arduino_staging/
arduino_tmp/
arduino_staging/
arduino_tmp/
